.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar-nav {
   display: contents;
}

.navbar {
    display: grid;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}

nav.testnav a {
    text-decoration: none !important;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}
nav.testnav a {
    text-decoration: none !important;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}