<div *ngIf="Task" class="comment-component" >
  <label class="component-caption">{{Task?.taskDescription | uppercase}} Comments</label>  
  <div>
    <div *ngFor="let comment of comment_list">
      <div class="comment">
        <div class="comment-header"><a (click)="deleteComment(comment.commentid)">Delete</a></div>
        <div class="comment-body"><label id="comment-text" placeholder="comment">{{comment?.commenttext}}</label></div>
        <div class="comment-footer"><label id="comment-date" placeholder="comment-date">{{comment?.dateadded}}</label>
        </div>
      </div>
    </div>
    <div>
      <textarea id="new-comment-text" class="comment" placeholder="New comment..." [(ngModel)]="newComment"></textarea>
      <button class="btn" (click)="addComment(newComment)">Submit</button>
    </div>
  </div>
</div>
